.profile-info-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  .profile-info-wrapper ul.notification-drop {
    position: absolute;
    right: 40px;
  }
  
  .notification-drop {
    font-family: 'Ubuntu', sans-serif;
    color: #444;
  }
  .notification-drop .item {
    padding: 10px;
    font-size: 18px;
    position: relative;
  }
  .notification-drop .item:hover {
    cursor: pointer;
  }
  .notification-drop .item i {
    margin-left: 10px;
  }
  .notification-drop .item ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #fff;
    left: -200px;
    right: 0;
    z-index: 1;
    border-top: 1px solid #ddd;
  }
  .notification-drop .item ul li {
    font-size: 16px;
    padding: 10px 5px;
  }
  .notification-drop .item ul li:hover {
    background: #ddd;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .notification-drop .notification-bell{
    font-size: 20px;
  }
  
  .notification-drop .btn__badge {
    background: #FF5D5D;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0px;
    padding:  3px 10px;
    border-radius: 50%;
  }
  
  .notification-drop .pulse-button {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
    animation: pulse 1.5s infinite;
  }
  
  .notification-drop .pulse-button:hover {
    animation: none;
  }
  
  @keyframes pulse {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
    }
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }
  
  .notification-drop .notification-text{
    font-size: 14px;
    font-weight: bold;
  }
  
  .notification-drop .notification-text span{
    float: right;
  }

  .notification-drop .item li {
    display: flex;
    align-items: center;
  }

  .notification-drop .item li img {
    max-width: 30px;
  }

  .notification-drop .item li p {
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
  }