.Navbar-main-container
{
    width: 100%;
}

.navbar-logo
{
    cursor: pointer;
    width: 170px;
}

.navbar-inside-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-elements
{
    width: 50%;
}

.navbar-ul
{
    cursor: pointer;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.navbar-li
{
    cursor: pointer;
    font-weight: 500;
    color: var(--bg-white);
    text-decoration: none;
}

.navlink{
    text-decoration: none;
    color: var(--bg-white);
}

.post-tour-main-container .Navbar-main-container {
    background: #fff;
}

.post-tour-main-container  .navbar-li {
    color: #000;
}

@media (max-width: 992px) {
    .navbar-inside-container {
        align-items: center;
        width: 100%;
    }

    .navbar-elements {
        width: 100%;
        max-width: 450px;
    }

    .navbar-elements .navbar-ul {
        align-items: center;
    }

    .navbar-elements .navbar-ul button.btn.btn-warning {
        font-size: 14px;
        padding: 5px 8px;
    }
}

@media (max-width: 768px) {
    .profile-info .Navbar-main-container li, .profile-info .Navbar-main-container li a {
        color: #000;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .navbar-inside-container {
        position: relative;
        flex-wrap: wrap;   
    }
    .navbar-elements .navbar-ul {
        padding: 0;
        margin-top: 20px;
    }

    li.navbar-li.navbar-logout-btn {
        position: absolute;
        top: 20px;
        right: 0;
    }
}