.profile-info-container a:hover {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

.profile-info .Navbar-main-container li,
.profile-info .Navbar-main-container li a {
    color: #000;
}

.profile-info-container {
    margin-top: 140px;
    background: #fff;
    padding-left: 20px;
}

.profile-info-wrapper {
    display: flex;
}

.profile-info-img-wrapper {
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    position: relative;
    bottom: 50px;
}

.buyer-profile-camera-icon{
    position: absolute;
    top: 270px;
    right: 30px;
    max-width: 30px;
    cursor: pointer;
}

.profile-info-image-input{
    display: none;
}
.profile-info-details {
    /* width: 70%; */
    padding-left: 3%;
    padding-top: 40px;
}

img.profile-info-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.buyerProfile-logout-button{
    height: 400px;
}

#logout-btn-buyer{
    margin-top: 300px;
}

.profile-info .card-section-main-container {
    margin-top: 250px;
}

h3.profile-info-name {
    color: #2C3C4D;
    text-transform: capitalize;
}

h6.profile-info-location {
    color: #8C959F;
    text-transform: capitalize;
}

.profile-info-email-phone-div {
    display: flex;
    max-width: 760px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}
.profile-info-email-phone-div span {
    margin-right: 20px;
}

.profile-info-email,
.profile-info-phone {
    font-size: 16px;
    color: #8C959F;
}

.profile-info-phone {
    margin: 0 20px;
}

.profile-info-email-phone-div .btn.btn-primary.two {
    margin-left: 20px;
}

.profile-info-email-phone-div button {
    background-color: #e74c3c;
    outline: none;
    border: none;
}

.profile-info-email-phone-div button:hover  {
    background-color: #000;
}

.profile-info.buyer ul.notification-drop {
    position: absolute;
    right: 40px;
    bottom: 250px;
}

@media(max-width: 1300px) {
    .aboutus-inside-container {
        width: 100%;
    }

    .profile-info-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .profile-info-email-phone-div {
        display: flex;
        max-width: 760px;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        padding-top: 20px;
    }

    .profile-info-container {
        margin-top: 60px;
    }

    .buyerProfile-logout-button {
        height: 450px;
    }

    #logout-btn-buyer {
        margin-top: 360px;
    }

    .profile-info-phone {
        margin: 0;
        margin-right: 10px;
    }
    
}

@media (max-width: 1100px) {
    .profile-info-details {
        width: 100%;
    }
}

@media(max-width: 992px) {
    .profile-info-email-phone-div {
        display: flex;
        max-width: 450px;
    }
}